/* Ipad */

@media (max-width: 1100px) {
  /* HOME */

  #navbar {
    flex-direction: column;
    height: unset;
    z-index: 12;
  }

  #navbar .logo {
    margin-top: 1vh;
  }

  .navbar .ul > li:nth-child(1) {
    display: none;
  }

  .navbar .ul > li:nth-child(2) {
    display: block;
  }

  #selection {
    padding: 5vh 0;
  }

  #selection_titre {
    margin: 4vh 0;
  }

  #selection_contenu {
    margin-bottom: 0;
  }

  #selection_contenu.flex-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #selection #boxe-1,
  #selection #boxe-2,
  #selection #boxe-3 {
    width: 100%;
    padding: 2vh 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #selection .box a {
    height: 60vw;
    width: 60vw;
  }

  #selection #nordique,
  #selection #exotique,
  #selection #bretagne {
    width: 100%;
    height: 80%;
  }

  .encart-transparent {
    height: 30vh;
  }

  #Notre-entreprise_contenu {
    height: 30vh;
  }

  #Notre-entreprise #Notre-entreprise_contenu h4 {
    width: 100vw;
    margin-bottom: 3vh;
  }
  #Notre-entreprise #Notre-entreprise_contenu p {
    margin-bottom: 2vh;
  }

  #photo-background {
    position: fixed;
    bottom: 0;
    top: 0;
    width: 200vw;
    height: 100vh;
    z-index: -1;
    transform: translate(-50%, 10%);
  }

  #photo-background img {
    width: 100%;
  }

  /* PAGE CONTACT */

  #contact_content {
    margin-top: 140px;
  }

  /* BLOG */

  #home-article .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #home-article .card:nth-child(3n + 1) {
    grid-row: unset;
    grid-column: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-row: span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }
  #home-article .card:nth-child(3n + 2) {
    grid-row: unset;
    grid-column: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-row: span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }
  #home-article .card:nth-child(3n + 3) {
    grid-row: unset;
    grid-column: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  /* Page Produit intermédiaire + IKEJIME*/

  #bretagne-et-poulpe main {
    overflow-x: hidden;
  }

  .bandeau_image img {
    width: 50vw;
    height: auto;
  }

  .nos-produits .grid-item {
    width: 30vw;
    height: 30vw;
  }

  .nos-produits .grid-item-deployable:hover {
    height: 100px;
    width: 20vw;
  }

  .grid-item-deployable:hover > div {
    display: flex;
  }

  .notre-projet .flex-columns {
    flex-direction: column-reverse;
  }

  .notre-projet .flex-columns .flex-item {
    width: 60%;
  }

  .notre-projet .flex-columns .flex-item:nth-child(2) {
    margin-bottom: 5vh;
  }

  .notre-projet::before,
  .notre-projet::after {
    height: 50%;
    top: 60px;
  }
}

/* -----------  SMARTPHONE ------------ */

@media (max-width: 600px) {
  /* HOME */

  body {
    font-size: 0.7rem !important;
    overflow-x: hidden;
  }

  p {
    margin: 1vh 0;
  }

  #hero .content h2 {
    font-size: 1.2rem;
  }

  .navbar .ul > li > a,
  .navbar .ul > li > label {
    padding: 5px 5px;
    text-shadow: #000 1px 1px 2px;
  }

  .navbar .nested-ul .sub-liste {
    width: 160px;
    /* margin: 5px 10px; */
  }

  .navbar .ul li > * {
    text-align: center;
  }

  #hero {
    background: url("/img/home/hero-4.jpg") -200px center/cover no-repeat;
    height: 85vh;
    /* min heigh pour mode paysage toute petites heigh, que ca entre pas le titre dans la navbar */
    min-height: 400px;
    /* pourquoi relative ? pour l'overlay qui arrive après et qui doit être absolute dans hero */
    position: relative;
    background-color: #fff;
  }

  #selection_titre {
    font-size: 1.1rem;
  }

  #selection_titre .line {
    display: none;
  }

  #selection #boxe-2 {
    font-size: unset;
  }

  #Notre-entreprise_contenu {
    height: unset;
  }

  #Notre-entreprise .column-1,
  #Notre-entreprise .column-3 {
    display: none;
  }

  #selection .box:nth-child(2) {
    border-bottom: #333 1px dotted;
    border-top: #333 1px dotted;
  }

  #Notre-entreprise .column-2 h4 {
    font-size: 0.9rem;
    width: 100%;
    margin-bottom: 0 !important;
    margin-top: 4vh;
  }

  #Notre-entreprise .column-2 p {
    margin-bottom: 1vh !important;
  }

  #Notre-entreprise .column-2::before {
    content: "";
    position: absolute;
    background: url(/img/home/Phare.png) center center/cover;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 20%;
    z-index: 1;
  }
  #Notre-entreprise .column-2::after {
    content: "";
    position: absolute;
    background: url(/img/home/mouette.png) center center/cover;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 20%;
    z-index: 1;
  }

  #Notre-entreprise .btn {
    transform: scale(0.6);
    margin-bottom: 4vh;
  }

  #footer {
    flex-direction: column;
  }

  #footer_left,
  #footer_middle,
  #footer_right {
    width: 100%;
  }

  #footer_left #footer_contacts {
    width: 50%;
  }

  #footer_left #footer_logo {
    width: 30%;
    margin: 2vh 7vw;
  }

  #footer_left #footer_logo img {
    width: 100%;
    height: auto;
  }

  #footer_middle #social i {
    margin: 2vh 5vw;
  }

  /* PAGE CONTACT */

  #contact,
  #contact::before {
    height: 1200px;
    background-position: 6000px center;
  }

  #contact_content {
    width: 100%;
    height: 100%;
    padding: 100px 30px 0 30px;
    background: rgba(51, 51, 51, 0.3);
    border-radius: 0;
    color: #fff;
    margin: 0;
  }

  /* Page BLOG */

  #showcase .showcase-container {
    grid-template-columns: repeat(1, 1fr);
    height: 350px;
    margin-top: 80px;
  }
  #home-article .articles-container {
    grid-template-columns: repeat(1, 1fr);
  }

  #home-article .articles-container > *,
  #home-article .card {
    grid-row: unset !important;
    grid-column: unset !important;
    grid-template-columns: unset !important;
    grid-template-rows: unset !important;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }

  #home-article .card:nth-child(6n + 4) {
    background: #263670 !important;
    color: #fff !important;
  }

  #home-article .card:nth-child(6n + 4) .date {
    background: #2f7fc2;
  }

  #home-article .card:nth-child(6n + 2) {
    background: #2f7fc2 !important;
    color: #fff !important;
  }

  #home-article .card:nth-child(4n + 2) .date {
    background: #263670 !important;
  }

  /* Page Produit intermédiaire + IKEJIME*/

  .bandeau_image img {
    width: 70vw;
    height: auto;
  }

  .bandeau .content {
    padding-top: 150px;
  }

  .nos-produits .grid-container {
    padding: 0;
  }

  .nos-produits .grid-item {
    width: 35vw;
    height: 35vw;
  }

  .nos-produits .grid-item p {
    font-size: 2.8vw;
    margin: 2px 0 0 0;
  }

  .nos-produits .container-deployable {
    margin: 50px 0;
  }

  .nos-produits .container-deployable > div {
    grid-column: span 2;
    width: 50vw;
    height: 50px;
    margin-bottom: 40px;
  }

  .nos-produits .grid-item-deployable,
  .nos-produits .grid-item-deployable > div {
    width: 100%;
    height: 100%;
  }

  .notre-projet .flex-items h2 {
    padding: 0 20px;
  }

  .notre-projet .line {
    display: none;
  }

  .notre-projet .flex-columns .flex-item {
    width: 90%;
  }

  .notre-projet::before,
  .notre-projet::after {
    display: none;
  }
}
