/* un autre moyen d'importer un FONT, plutot que d'inclure le lien dans le HTML, je peux l'importer comme ca dans mon style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* BASE STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300px;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2f7fc2;
  color: #fff;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  padding: 0 5vw;
  transition: 0.25s ease-in;
  z-index: 2;
}

.navbar .ul {
  display: flex;
  align-items: center;
  justify-content: right;
}

.navbar .ul > li > a {
  color: #fff;
  padding: 11.5px 15px;
  margin: 0 5px;
  margin: 10px 5px;
  display: block;
}

.navbar .nested-ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: flex-start;
  background: #2f7fc2;
}

.navbar .nested-ul li a {
  margin: 11.5px 20px;
  display: block;
  width: 240px;
  display: none;
  color: #fff;
}

.navbar li:nth-child(1):hover .nested-ul li a {
  display: block;
}

.navbar li:nth-child(1):hover .nested-ul li:nth-child(2) a {
  border-bottom: 1px dotted #fff;
  border-top: 1px dotted #fff;
  margin: 0 5px 0 20px;
  padding: 11.5px 0;
}

.navbar .sub-liste > div {
  padding: none;
}

.navbar a:hover,
.navbar .ul > li:nth-child(1):hover > a {
  border-bottom: solid 2px #fff;
  cursor: pointer;
}

.navbar a.sub-liste:hover {
  border: none;
}

.actif {
  border-bottom: solid 2px #fff;
}

.navbar .nested-ul li a:hover {
  text-shadow: 0.1rem 0.1rem 1rem #fff;
  transition: 0.5s;
}

.navbar.top {
  background: transparent;
}

.navbar a .logo {
  width: 180px;
  height: 50px;
  background: url("/img/logo.PNG") center center / cover no-repeat;
}

.navbar a.lien-logo {
  padding: 10px 20px;
  transition: 0.5s;
}

.navbar a.lien-logo:hover {
  border: none;
  box-shadow: 1px 1px 10px 1px #fff;
}

/* Hero */

#hero {
  background: url("/img/home/hero-4.jpg") center center/cover no-repeat;
  height: 85vh;
  /* min heigh pour mode paysage toute petites heigh, que ca entre pas le titre dans la navbar */
  min-height: 400px;
  /* pourquoi relative ? pour l'overlay qui arrive après et qui doit être absolute dans hero */
  position: relative;
  background-color: #fff;
}

#hero .content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  height: 100%;
  /* padding top pour que quand width tout petit, le content ne soit pas poussé vers le haut dans la nav bar mais en bas */
  padding: 100px 5vw 0 5vw;
}

#hero .content h2 {
  font-size: 40px;
  margin-bottom: 5vh;
  max-width: 1200px;
}

/* je vais inséré quelquechose directement en CSS */
/* on pourrait inséré du contenu dans content mais préférable de le faire en html */
/* ici on va juste coller un background noir transparent pour effet de transparance */
/* que je mette before ou after change rien, car je le dispose à l'intérieur de Hero. Ca aurait pu être un div dans le html mais on dira que ca fait plus clean si tout l'effet est uniquement dans le css */

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* RGBA avec 4 chiffres, le dernier est l'opacity */
  /* si on met noir + transparant, ca fait cet effect background */
  background: rgba(5, 1, 56, 0.1);
}

/* tout ce qui est dans hero passera devant hero (normal) et devant le reste (notamment le background transparent que j'ai inséré au dessus) */
/* automatiquement le before est devant le Hero mais uniquement la hero grace a ca puisque tout ce qui est dedans passe devant. C'est infiniment plus simple que de faire les z-index 1 a 1, notamment que certains éléments ne sont même pas dans cette partie du CSS */
#hero * {
  z-index: 10;
}

#hero.blog {
  background: url("../img/home/blog.jpg") center center/cover no-repeat;
  height: 30vh;
  min-height: 200px;
}
#hero.blog .content {
  padding-top: 50px;
}

/* Nos produits*/

#selection {
  padding: 10vh 0;
}

#selection_titre {
  margin-bottom: 10vh;
  font-size: 1.7rem;
}

#selection_contenu {
  margin-bottom: 10vh;
}

.flex-items {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

#selection .box {
  display: flex;
  flex-direction: column;
  padding: 7vh 0vh 2vw;
  width: 20vw;
}

#selection #boxe-2 {
  width: 35vw;
  padding: 0 2vw;
  font-size: 1.2rem;
}

#selection #exotique {
  background: url(/img/home/Pecheur-exo.jpg) center center/cover no-repeat;
  transition: 1s;
  height: 20vw;
  border-radius: 5%;
  margin-top: 5vh;
}

#selection #exotique:hover {
  background: url(/img/home/paysage-exo.jpg) center center/cover no-repeat;
}

#selection #bretagne {
  background: url(/img/home/pecheur-bretagne.jpg) center center/cover no-repeat;
  transition: 1s;
  height: 25vw;
  margin-top: 5vh;
  border-radius: 2%;
}

#selection #bretagne:hover {
  background: url(/img/home/paysage-bretagne.jpg) center center/cover no-repeat;
}

#selection #nordique {
  background: url(/img/home/pecheur-nord.jpg) center center/cover no-repeat;
  transition: 1s;
  width: 100%;
  height: 20vw;
  border-radius: 5%;
  margin-top: 5vh;
}

#selection #nordique:hover {
  background: url(/img/home/paysage-nord.jpeg) center center/cover no-repeat;
}

#selection_mentra {
  text-align: center;
}

.encart-transparent {
  height: 60vh;
}

.encart-transparent-small {
  height: 20vh;
}

/* photo background */

#photo-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#photo-background img {
  height: auto;
  min-height: 100vh;
  width: 100vw;
}

/* notre entreprise */

#Notre-entreprise_contenu {
  background: #f4f4f4;
  height: 60vh;
}

#Notre-entreprise .column-1 img {
  width: 90%;
  max-height: 60vh;
}

#Notre-entreprise .column-1 {
  width: 20%;
  display: flex;
  align-content: left;
  justify-content: flex-end;
}

#Notre-entreprise .column-2 {
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 60%;
}

#Notre-entreprise .column-2 h4 {
  margin-bottom: 5vh;
  font-size: 1.5rem;
}

#Notre-entreprise .column-2 p {
  margin-bottom: 5vh;
}

#Notre-entreprise .column-3 {
  width: 20%;
  display: flex;
  align-content: left;
  justify-content: flex-end;
}

#Notre-entreprise .column-3 img {
  width: 100%;
}

/* FOOTER */

#footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 0;
  color: #fff;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #fff;
  color: #2f7fc2 !important;
  border-color: #2f7fc2;
}

#footer_left {
  width: 33%;
  text-align: left;
  align-items: center;
}

#footer_logo {
  width: 110px;
  margin: 1rem 3rem;
}

#footer_contacts p {
  font-size: 0.6rem;
  line-height: 0.5rem;
}

#footer_middle {
  width: 33%;
  font-size: 0.6rem;
  justify-content: center;
}

#footer_middle #social i {
  font-size: 3rem;
  margin: 1vh 1vw;
}

#footer_right {
  width: 33%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer_right > * {
  border: solid 1px #fff;
  padding: 0.5rem;
  margin: 2rem 0.5rem;
}

#toggler {
  opacity: 1;
  position: fixed;
  left: 33vw;
  top: 6vh;
  z-index: 20;
  width: 25px;
  height: 25px;
  transform: translate(2000px, 2000px);
  transition: 0.5s;
}

#toggler::before {
  content: "";
  text-align: center;
  background: url(/img/close.png) center center / 30px no-repeat;
  height: 150%;
  width: 150%;
  position: absolute;
  top: -5px;
  left: -5px;
  border-radius: 50%;
  z-index: 21;
  cursor: pointer;
}

#toggler:checked {
  transform: unset;
}

#footer #footer_label {
  display: inline-block;
}

#footer #footer_label:hover {
  cursor: pointer;
  border-color: #2f7fc2;
  color: #2f7fc2;
}

#footer #menu {
  position: fixed;
  top: 0;
  left: 30vw;
  background: url(/img/form.jpg) center center/cover;
  transform: scale(0);
  width: 40vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #000;
  border-radius: 10%;
  z-index: 11;
  border: none;
  color: #fff;
  transition: 0.5s;
}

#footer #menu::before {
  content: "";
  background: #000;
  height: 1000%;
  width: 1000%;
  opacity: 0.5;
  position: absolute;
  border-radius: 10%;
}

#footer_right .content {
  z-index: 12;
}

#footer #menu h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

#footer .form-control {
  margin-top: 40px;
}

#footer .form-control #name,
#footer .form-control #email,
#footer .form-control #phone {
  padding: 10px 20px;
  background: #f4f4f4;
}

#toggler:checked + #menu {
  transform: scale(1);
}

/* ----------- PAGE MER DE NORVEGE ---------------- */

.bandeau .content {
  padding-top: 15vh;
}

.bandeau_image {
  height: 30vh;
  margin: 5vh 0;
  border: solid 2px #333;
  background: #fff;
}

.bandeau_image img {
  width: auto;
  height: 100%;
}

/* ----------- POULPE ET BRETAGNE--------------- */

/* ------------EXOTIQUE TRADITIONEL ------------- */

/* ----------- CONTACT PAGE ----------------- */

#contact {
  height: 180vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180vh;
  background: url(/img/contact/fond-ecran-flou.jpg) center center/cover;
  z-index: -1;
}

#contact_content {
  background: rgba(244, 244, 244, 0.7);
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #000;
  border: none;
  border-radius: 10%;
}

#contact #menu h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

#contact .form-control {
  margin-top: 40px;
}

#contact .form-control > input,
#contact .form-control > textarea,
#contact .form-control > select {
  width: 100%;
  padding: 10px 20px;
  background: #f4f4f4;
  outline-color: #2f7fc2;
}

/* blog */

#blog {
  background: #f4f4f4;
}

.date {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin: 0.25rem 0;
}

.date-secondaire {
  background: #263670;
}
.date-primaire {
  background: #2f7fc2;
}
.date-tertiaire {
  background: orange;
}

.container {
  max-width: 70vw;
  margin: auto;
  padding: 0 3vw;
  overflow: hidden;
}

.card {
  padding: 2vh 2vw;
  justify-content: center;
  align-items: center;
  justify-self: center;
  background: #fff;
}

#showcase {
  color: #fff;
  padding: 2vw 2vh;
  position: relative;
  background: #333;
}

#showcase::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("/img/blog/article-une.jpg") no-repeat center center/cover;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
  min-width: 400px;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

#home-article .articles-container {
  display: grid;
  grid-template-rows: repeat (4, 400px);
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

#home-article .articles-container > *:first-child {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
#home-article .articles-container > *:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
}

#home-article .articles-container > *:nth-child(3) {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#home-article .card:nth-child(4) {
  grid-column: 1;
  grid-row: 3 / span 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}
#home-article .card:nth-child(5) {
  grid-column: 2 / span 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

#home-article .card:nth-child(6) {
  grid-column: 2 / span 2;
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

#article .meta .category {
  margin-top: 7px;
}

/* Blog posts */

#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
}

#article .card > img {
  max-height: 70vh;
  width: auto;
  margin: auto;
  display: block;
  max-width: 100%;
}

#boutons-partage {
  position: fixed;
  top: 30vh;
  left: 2vw;
  width: 12vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
  font-size: 0.8rem;
  text-align: center;
}

#article h1 {
  text-align: center;
  margin-top: 5vh;
}

#article .card > * {
  margin-bottom: 5vh;
}

#boutons-partage > div {
  margin: 1vh 0;
}

/* ----- Decouvrir Ikagel ------- */

#decouvrir-ikagel {
  overflow-x: hidden;
}

#notre-activite {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  background: #f4f4f4;
}

#notre-activite::before {
  content: "";
  position: absolute;
  top: -90px;
  left: 2%;
  background: url(/img/exotique-traditionel/algues-gauche.png) center center/7vw
    no-repeat;
  height: 120%;
  width: 10%;
  z-index: 50;
  transform: rotate(-25deg);
}
#notre-activite::after {
  content: "";
  position: absolute;
  top: -90px;
  left: 88%;
  background: url(/img/exotique-traditionel/algues-droite.png) center center/7vw
    no-repeat;
  height: 120%;
  width: 10%;
  z-index: 50;
  transform: rotate(25deg);
}

#notre-activite .flex-row > * {
  margin-top: 5vh;
}

#notre-proximite {
  text-align: center;
  justify-self: center;
  padding: 5vh 0 15vh 0;
  background: #f4f4f4;
}

#notre-proximite .flex-items > div > h2 {
  font-size: 1.7rem;
}

#notre-proximite .grid-container {
  padding: 5vh 10vw;
}

#notre-proximite .grid-container > div {
  justify-self: center;
  align-self: center;
}

#notre-proximite .grid-container > div span {
  font-size: 1.3rem;
}

#notre-proximite .grid-container > div img {
  width: 250px;
}

#notre-histoire {
  background: #f4f4f4;
  text-align: center;
  justify-self: center;
  padding: 10vh 0 10vh 0;
}

#notre-histoire .flex-item {
  padding: 0 3vw;
  width: 33%;
}

#notre-histoire .flex-item p {
  text-align: left;
}

#notre-histoire .flex-item:nth-child(2) {
  padding: 0;
}

#notre-histoire #rope {
  height: 7vh;
  background: url(/img/decouvrir-ikagel/rope-17098.png) center center/cover;
  width: 120%;
  margin: 10vh auto 0 auto;
  transform: translateX(-50px);
}

#rope1 {
  height: 7vh;
  background: url(/img/decouvrir-ikagel/rope-17098.png) center center/cover;
  width: 120%;
  transform: translate(-50px, -50%);
}
#rope2 {
  height: 7vh;
  background: url(/img/decouvrir-ikagel/rope-17098.png) center center/cover;
  width: 120%;
  transform: translate(-50px, 50%);
  z-index: 20;
}

#mot-dirigeant {
  align-items: center;
  justify-items: center;
  text-align: center;
  padding-top: 10vh;
  border-top: 2px solid #333;
}

#mot-dirigeant > h2 {
  padding: 2vh 2vw;
  background: #f4f4f4;
  display: inline-block;
  border-radius: 2%;
  border: #333 solid 2px;
}

#mot-dirigeant .line {
  margin: unset;
  background: #333;
  border: none;
  height: 2px;
}

#mot-dirigeant > .flex-columns > div {
  width: 50%;
  margin: 0 4vw 4vw 4vw;
  font-family: "Catamaran", sans-serif;
  background: #f4f4f4;
  border-radius: 2%;
  border: #333 solid 1px;
}

#mot-dirigeant .flex-row > * {
  padding: 2vh 2vw;
  text-align: center;
}

#mot-dirigeant .flex-columns .flex-columns > * {
  padding: 2vh 2vw;
  border-radius: 10%;
}

#mot-dirigeant .flex-columns .flex-columns {
  justify-content: center;
  align-items: center;
}

#mot-dirigeant .signature-langlois {
  width: 10vw;
}

#mot-dirigeant span {
  font-size: 2rem;
  font-family: "Catamaran", sans-serif;
}

#mot-dirigeant .photo-langlois {
  width: 18vw;
}

/* ----- SUB PRODUCT PAGE ---------- */

.sub-product {
  min-height: 150vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.sub-product > img {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#sub-product_content {
  margin: 20vh auto;
  background: rgba(244, 244, 244, 0.8);
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: #000;
  border: none;
  border-radius: 10%;
}

#sub-product_content h1 {
  margin: 5vh 0;
}

#sub-product_content h2,
#sub-product_content .btn {
  margin-top: 5vh;
}

#sub-product_content h2 {
  margin-bottom: 3vh;
}

.grid-4-columns {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.grid-4-columns.container-deployable {
  height: unset;
  justify-items: center;
  align-items: center;
}

.grid-4-columns .grid-item-deployable,
.grid-4-columns .grid-item-deployable > div {
  width: 150px;
  height: 70px;
}

.grid-4-columns .grid-item-deployable:hover,
.grid-4-columns .grid-item-deployable:hover > img {
  height: 150px;
}

.grid-4-columns > div {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---- fiche produit -------- */

#fiche-produit > div {
  color: #000;
  font-size: 1.1vw;
}

.flex-columns {
  position: relative;
  justify-content: center;
}

#fiche-produit .column-1 {
  position: absolute;
  width: 15%;
  height: 100%;
  background: #fff;
  background: url(/img/fiches-produit/planche2.jpg) center center/100%;
  left: 0;
}

#fiche-produit .column-3 {
  width: 15%;
  height: 100%;
  background: #fff;
  background: url(/img/fiches-produit/planche2.jpg) center center/100%;
  position: absolute;
  right: 0;
}

#fiche-produit .column-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 100%;
  padding: 15vh 3vw 10vh 3vw;
  background: #f4f4f4;
}

#fiche-produit .column-2 .contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#fiche-produit .column-2 .flex-columns > a,
#fiche-produit .column-2 .propriétés {
  width: 45%;
  max-height: 600px;
  margin: 2.5%;
  background: #fff;
  border-radius: 2%;
  /* border: solid 2px #000; */
  /* background: url(/img/fiches-produit/planche3.jpg) center center/50%; */
  color: #000;
}

#fiche-produit .column-2 a img {
  width: 100%;
  height: 100%;
}

#fiche-produit .column-2 .propriétés h3 {
  text-align: center;
}

#fiche-produit .column-2 .fiche-produit_description {
  background: #fff;
  margin: 0 2.5% 5% 2.5%;
  border-radius: 1%;
  /* border: solid 2px #000; */
  /* background: url(/img/fiches-produit/planche3.jpg) center center/20%; */
  color: #000;
}
#fiche-produit .column-2 .fiche-produit_description p {
  text-shadow: 1px 1px 1px 5px #fff;
}

.bateau-background {
  background: url(/img/fiches-produit/bateau-inversé.png) center center/300px
    no-repeat;
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 30vw;
  height: 30vh;
}
.bateau-background2 {
  background: url(/img/fiches-produit/bateau.png) center center/300px no-repeat;
  position: absolute;
  top: 5vh;
  right: 10vw;
  width: 30vw;
  height: 30vh;
}

/* TEST POUR PAGE PRODUIT SPECIALITE */

.specialite.test {
  /* height: 70 vh; */
  background: #f4f4f4;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.specialite.test .flex-items {
  width: 100%;
}

.specialite.test h2 {
  color: #000;
}

.specialite.test .flex-columns {
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: hidden;
}

.specialite.test::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 5%;
  background: url(/img/exotique-traditionel/algues-gauche.png) center center/7vw
    no-repeat;
  background-size: 7vw 65%;
  height: 120%;
  width: 10%;
  z-index: 50;
  transform: rotate(-25deg);
}
.specialite.test::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 85%;
  background: url(/img/exotique-traditionel/algues-droite.png) center center/7vw
    no-repeat;
  background-size: 7vw 65%;
  height: 120%;
  width: 10%;
  z-index: 50;
  transform: rotate(25deg);
}

.specialite.test .flex-item {
  width: 35%;
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.specialite.test .flex-item > div img:hover {
  opacity: 0.8;
}

.specialite.test .flex-item > div {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specialite.test .flex-item img {
  height: auto;
  width: 70%;
}

/* MEDIA QUERRY */

@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
  }

  #navbar a {
    padding: 5px 3vw;
  }

  .flex-items {
    flex-direction: column;
  }

  .flex-items p {
    margin-bottom: 3rem;
  }

  #team_content img {
    width: 60%;
  }

  .flex-columns .column {
    flex: 100%;
    max-width: 100%;
  }
}
